<footer class="footer">
  <p class="footer__copyright">
    Franco Silva &copy; Todos los derechos reservados
  </p>
</footer>

<style>
  .footer {
    text-align: center;
    margin-top: 5rem;
    padding: 2rem;
    background-color: var(--principal);
  }
  .footer__copyright {
    font-size: 1.6rem;
    color: var(--blanco);
    font-weight: v.$bold;
  }
</style>
