<section class="habilidades contenedor" id="habilidades">
  <h2 class="hablilidades__heading">Habilidades</h2>

  <div class="habilidades__lista">
    <p data-aos="flip-left" class="habilidades__habilidad">HTML</p>
    <p data-aos="flip-right" class="habilidades__habilidad">CSS</p>
    <p data-aos="flip-right" class="habilidades__habilidad">SCSS</p>
    <p data-aos="flip-left" class="habilidades__habilidad">Javascript</p>
    <p data-aos="flip-left" class="habilidades__habilidad">React</p>
    <p data-aos="flip-right" class="habilidades__habilidad">Gulp</p>
    <p data-aos="flip-left" class="habilidades__habilidad">PHP</p>
    <p data-aos="flip-right" class="habilidades__habilidad">MYSQL</p>
    <p data-aos="flip-left" class="habilidades__habilidad">Git</p>
  </div>
</section>

<style>
  .habilidades {
    text-align: center;
    margin-top: 5rem;
  }
  .habilidades__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .habilidades__habilidad {
    background-color: var(--balnco);
    border: 1px solid var(--principal);
    color: var(--principal);
    padding: 1rem;
    border-end-end-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 2rem;
    min-width: 40%;
    margin: 1rem 0 0 0;
    font-weight: v.$bold;
    border-left: 0.5rem solid var(--principal);
  }
</style>
