---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/Logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/phosphor-icons"></script>
  </head>
  <body>
    <slot />

    <script is:inline src="/js/navegacion-responsive.js"></script>
  </body>
</html>

<style is:global>
  @import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

  :root {
    --principal: #00214d;
    --negro: #262626;
    --blanco: #fff;
    --fuente-principal: "Comfortaa", cursive;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  [class*="contenedor"],
  main {
    width: min(95%, 120rem);
    margin: 3rem auto;
  }
  [class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
  }
</style>
